/* - - - - - - - - - - - - - - - - - - - - - */
/* - - IMPORT - - - - - - - - - - - - - */
@import url("reset.css");
@import url("utility.css");


/* - - - - - - - - - - - - - - - - - - - - - */
/* - - TYPOGRAPHIE - - - - - - - - - - - - - */
h1 {
  font-size: 12vw;
}

h2 {
  text-align: center;
  max-width: 25ch;
}


/* - - - - - - - - - - - - - - - - - - - - - */
/* - - COLOR & BASE - - - - - - - - - - - - - */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(red, blue);
  color: beige;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* - - - - - - - - - - - - - - - - - - - - - */
/* - - MISE EN PAGE - - - - - - - - - - - - - */
a {
  color: inherit;
  text-decoration: none; /* optionnel, selon le style voulu */
}


/* - - - - - - - - - - - - - - - - - - - - - */
/* - - MODULES - - - - - - - - - - - - - */
